.CarImage {
  margin: 0 auto;
  position: relative;
}
.CarImage img {
  margin: 0 auto;
}

.CarImage .CarImage--spinner,
.CarImage .CarImage--placeholder {
  display: none;
}

.CarImage.car-image-loading .CarImage--spinner {
  display: block;
  position: absolute;
  background: transparent url('loading-spinner-large-green.svg') no-repeat scroll center;
  background-size: contain;
  width: 2.375rem;
  height: 2.375rem;
  left: 50%;
  top: 50%;
  margin: -1.1875rem 0 0 -1.1875rem;
  z-index: 10;
}

.error .CarImage--placeholder, .error img {
  display: none;
}

.error .CarImage--placeholder {
  //display: inherit;
  height: 100px;
}

.CarImage.car-image-loading .CarImage--placeholder, .error .CarImage--placeholder {
  display: block;
  background: url('loading-sedan-small.svg') no-repeat scroll center;
  background-size: contain;
  z-index: 5;
  opacity: .36;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(1.25px);
}

.CarImage-super-small,
.CarImage-super-small .CarImage--placeholder {
  width: 8rem;
  height: 4.5rem;
}

.CarImage-small,
.CarImage-small .CarImage--placeholder {
  width: 13.13rem;
  height: 7.375rem;
}

.CarImage-medium {
  width: 20rem;
  height: 11.25rem;
}
.CarImage-medium .CarImage--placeholder {
  width: 16rem;
  height: 8.75rem;
  left: 50%;
  top: 50%;
  margin: -4.375rem 0 0 -8rem;
}
.CarImage-medium .CarImage--placeholder {
  -webkit-filter: blur(2px);
}

.CarImage-large,
.CarImage-large .CarImage--placeholder {
  width: 31.25rem;
  height: 17.5rem;
}
.CarImage-large .CarImage--placeholder {
  -webkit-filter: blur(4px);
}

.CarImage.car-image-loading img {
  display: none !important;
}

// Listing Image Styles
.CarImage--image-stack {
  width: 3.75rem;
  height: 2.8125rem;
  margin: 0 auto;
}
.CarImage--image-stack .bottom-img {
  border: .0625rem solid rgba(178,178,178,1);
  width: 3.75rem;
  height: 2.8125rem;
  box-shadow:0 .084rem 0 0 rgba(0,0,0,.1);
  opacity: .5;
	-ms-transform: rotate(-6deg); /* IE 9 */
  -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
  transform: rotate(-6deg);
  position: absolute;
  background-color: #fff;
}
.CarImage--image-stack .top-img {
  border: .0625rem solid rgba(178,178,178,1);
  width: 3.75rem;
  height: 2.8125rem;
  box-shadow: 0 .084rem 0 0 rgba(0,0,0,.1);
  position: absolute;
  background-color: #fff;
}
.CarImage--image-stack .top-img img {
  width: 90%;
  max-height: 39px;
  display: block;
  margin: .125rem auto;
}
.CarImage--image-stack.car-image-loading .top-img img {
  display: none;
}
.CarImage--image-stack.car-image-loading .top-img::before,
.CarImage--image-stack.error .top-img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3.75rem;
  height: 2.8125rem;
  background: transparent url(loading-sedan-listings.svg) no-repeat scroll 0 0;
  background-size: cover;
  -webkit-filter: blur(.75px);
  opacity: .36;
  z-index: 5;
}
.CarImage--image-stack.car-image-loading .top-img::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.1875rem;
  height: 1.1875rem;
  margin: -.59375rem 0 0 -.59375rem;
  background: transparent url(loading-spinner-mini-green.svg) no-repeat scroll 0 0;
  background-size: cover;
  z-index: 10;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.CarImage--border {
   border: 0.063em solid rgba(178, 178, 178, 1);
  // border: 5px solid red;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
