<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lmig.pm.internet.mobile.android.carzen" version="3.0.1" android-versionCode="4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CarZen</name>
    <description>
        CarZen application
    </description>
    <author email="Android_Applications@LibertyMutual.com" href="http://www.libertymutual.com/liberty-mutual-mobile">
        Liberty Mutual Personal Insurance
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="tel:*" launch-external="yes"/>
    <access origin="geo:*" launch-external="yes"/>
    <access origin="mailto:*" launch-external="yes"/>
    <access origin="sms:*" launch-external="yes"/>
    <access origin="market:*" launch-external="yes"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Orientation" value="portrait" />
    <platform name="android">
        <allow-intent href="market:*" />
        <feature name="AppsFlyerPlugin">
            <param name="android-package" value="com.appsflyer.cordova.plugin.AppsFlyerPlugin" />
        </feature>
        <feature name="NetworkStatus">
            <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
        </feature>
        <feature name="Device">
            <param name="android-package" value="org.apache.cordova.device.Device" />
        </feature>
        <feature name="InAppBrowser">
            <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
        </feature>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
