.pswp__ui .pswp__top-bar {
  background-color: rgba(0, 0, 0, 0.8);
}
.pswp__button.pswp__button--close {
  font-size: .9375rem;
  font-weight: normal;
  background: none;
  width: auto;
  height: auto;
  position: absolute;
  left: 1rem;
  top: .75rem;
}

.pswp__top-bar .pswp__counter {
  font-size: .9375rem;
  line-height: 1;
  width: auto;
  height: auto;
  padding: 0;
  left: 50%;
  top: .75rem;
  transform: translateX(-50%);
}
