@import "../../scss/variables";

.logo {
  // @extend %mui-font-style-headline;
  // background-color: $app-bar-color;
  background-color: #000;

  color: $app-bar-text-color;
  cursor: pointer;
  font-size: 24px;
  line-height: $desktop-keyline-increment;
  padding-left: 24px;
  padding-top: 0;
  height: 53px;
}

.left-nav.mui-left-nav {
  z-index: 10010;
  position: absolute;

}

.mui-left-nav-menu.mui-paper.mui-z-depth-2 {
  border: none;
  width: 256px;
  border-top: 1px solid rgba(163, 163, 163, .3);
}

.mui-left-nav-menu {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

.mui-menu {
  width: 256px !important;
  background-color: #000;
  color: #fff;
  margin-top: 54px;
}

.mui-paper.mui-z-depth-2 {
  border-top: 4px solid rgba(163, 163, 163, .7);
}

.mui-menu .mui-paper-container {
  padding-top: 0;
}

.mui-left-nav-menu, .mui-left-nav {
  background-color: #000 !important;
}

.mui-subheader {
  color: #8bc53f;
  font-weight: 500;
  font-size: 1rem;
  border-top: 2px solid #8bc53f !important;
  padding: 0 0 0 50px !important;
  background-position: 12px center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-color: #161616;
  height: 48px;
  margin: 0;

}

.mui-paper-container > .mui-subheader {
  background-image: none;
  position: relative;
}

.mui-paper-container > .mui-subheader::before {
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 1.563rem;
  width: 1.563em;
  content: '';
  display: inline-block;
  position: absolute;
  left: .625rem;
  top: .625rem;

}

.mui-paper-container > .mui-subheader:nth-of-type(1)::before {
  background-image: url("hamburger-icon-profile.svg");
}

.mui-paper-container > .mui-subheader:nth-of-type(4)::before {
  background-image: url("hamburger-icon-about.svg");
}

.mui-left-nav .mui-paper.mui-rounded::after {
  background-image: url("hamburger-czlogo.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  // background-size: 120px 48px;
  background-size: contain;
  width: 7.5rem;
  height: 3rem;
  //color: #6d6d6d;
  content: "";
  display: block;
  margin-left: 55px;
  margin-top: 45px;
  padding: 40px;
  text-align: center;
}

.mui-left-nav-menu.mui-paper .mui-paper-container::after {
  color: #6d6d6d;
  display: block;
  text-align: center;
  position: absolute;
  top: 35.813rem;
  left: 6.500rem;
  font-size: 0.875rem;
}

.mui-subheader, .mui-menu-item {

  border-bottom: 2px solid #262626 !important;

}

.mui-paper-container > .mui-menu-item:nth-of-type(4) {
  border-bottom: none !important;
}

.mui-menu-item {
  font-weight: 400;
  font-size: .875rem;
  margin-left: 50px;
  padding-left: 0;
  width: 200px;
}

.left-nav-container {
  //position: absolute;
  //width: 100%;
  //height: 100%;
  //top: 0;
  //left: 0;

}

.left-nav-container .version-number {
  //position: absolute;
  //color: white;
  //z-index: 10011;

}
