node_modules
.idea/
build-dev.zip
/build
/build-staging
/build-dev
/build-production
/cordova4/www
# Android
/cordova4/platforms/android/assets/www
/cordova4/platforms/android/bin/
/cordova4/platforms/android/gen/
#/cordova4/platforms/android/res/xml/config.xml
/cordova4/platforms/android/res/drawable-mdpi/ic_launcher.png
/cordova4/platforms/android/res/drawable-mdpi/ic_action_next_item.png
/cordova4/platforms/android/res/drawable-mdpi/ic_action_previous_item.png
/cordova4/platforms/android/res/drawable-mdpi/ic_action_remove.png
/cordova4/platforms/android/res/drawable-hdpi/ic_launcher.png
/cordova4/platforms/android/res/drawable-hdpi/ic_action_next_item.png
/cordova4/platforms/android/res/drawable-hdpi/ic_action_previous_item.png
/cordova4/platforms/android/res/drawable-hdpi/ic_action_remove.png
/cordova4/platforms/android/res/drawable-xhdpi/ic_launcher.png
/cordova4/platforms/android/res/drawable-xhdpi/ic_action_next_item.png
/cordova4/platforms/android/res/drawable-xhdpi/ic_action_previous_item.png
/cordova4/platforms/android/res/drawable-xhdpi/ic_action_remove.png
/cordova4/platforms/android/res/drawable-xxhdpi/ic_launcher.png
/cordova4/platforms/android/res/drawable-xxhdpi/ic_action_next_item.png
/cordova4/platforms/android/res/drawable-xxhdpi/ic_action_previous_item.png
/cordova4/platforms/android/res/drawable-xxhdpi/ic_action_remove.png
/cordova4/platforms/android/res/drawable-xxxhdpi/ic_launcher.png
*.log*
.DS_Store
.projectile
