.ListingsSummary--image {
  display: inline-block;
  width: 25%;
  padding: 1rem 0;
  vertical-align: middle;
}

.ListingsSummary--spinner {
  width: 2.375rem;
  height: 2.375rem;
  background: transparent url(../CarImage/loading-spinner-large-green.svg) no-repeat scroll center;
  background-size: cover;
  margin: 0 auto;
}

.ListingsSummary--info {
  display: inline-block;
  width: 75%;
  padding-right: 4rem;
  vertical-align: middle;
  position: relative;
}

.ListingsSummary .ListingsSummary--error {
  display: none;
  padding: 1rem;
}

.ListingsSummary.loading .ListItem--right-arrow {
  display: none;
}

.ListingsSummary.error .ListingsSummary--image,
.ListingsSummary.error .ListingsSummary--info,
.ListingsSummary.error .ListItem--right-arrow, {
  display: none;
}

.ListingsSummary.error .ListingsSummary--error {
  display: block;
}
