.ImageGrid.videos .ImageGrid-Image {
  float: left;
  max-width:  7.5rem;
  max-height: 5rem;
  overflow: hidden;
  margin: 1.5%;
  border: 1px solid rgb(178, 178, 178);
  background-color: #FFF;
  position: relative;
}
.ImageGrid-Image img {
  width: 100%;
}
.ImageGrid-Image .ImageGrid-placeholder {
  display: block;
}
.ImageGrid-Image.loaded .ImageGrid-placeholder {
  display: none;
}
.ImageGrid-Image .Image-img {
  display: none;
}
.ImageGrid-Image.loaded .Image-img {
  display: block;
}

.ImageGrid.videos .icon-media-play {
   background: url(icon-media-play.svg);
   width:  2.065rem;
   height: 2.065rem;
   position: absolute;
   top: 1.4675rem;
   left: 2.7175rem;
}
