.interviewPage {
  width: 700%;
  height: 36.5rem;
  overflow: hidden;
  transform: translate3d(0,0,0);
  transition: transform .25s;
}
.interviewPage.position1 {
  transform: translate3d(-14.29%,0,0);
  height: auto;
}
.interviewPage.position2 {
  transform: translate3d(-28.57%,0,0);
  height: auto;
}
.interviewPage.position3 {
  transform: translate3d(-42.86%,0,0);
  height: auto;
}
.interviewPage.position4 {
  transform: translate3d(-57.14%,0,0);
  height: 43.75rem;
}
.interviewPage.position5 {
  transform: translate3d(-71.43%,0,0);
}
.interviewPage.position6 {
  transform: translate3d(-85.71%,0,0);
}

.interviewPage {
  display: none;
}

.interviewPage.visible {
  display: block;
}
