@import "../scss/loading";


body {
  overflow-x: hidden;
  // display: none;
  background-color: #ffffff;
}

body.app-loaded {
  // display: block;
}

body.hide-page {
  //  display: none;
}

body.app-loading .app-loading-overlay {

}

body.app-loaded .app-loading-overlay {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 1s, opacity 1s linear;
}



#app {
  overflow-x: hidden;
}

.mui-app-bar {
  background-color: rgba(255, 255, 255, 0.98) !important;
  width: 100%;
  min-height: 56px;
  height: 56px;
  background-color: #fff;
  z-index: 5;
  border-bottom: 1px solid #8bc53f;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  //margin: 0 5%;
}

.mui-app-bar:first-child .mui-paper-container {
  padding: 0;
  position: relative;
  text-align: center;
  //position: fixed;
  //top: 0;
  //left: 0;
  //-webkit-backface-visibility: hidden;
  //  margin: 0 2%;

}


.mui-app-bar .mui-app-bar-navigation-icon-button {
  position: absolute;
  left: .375rem;
  top: .375rem;
  float: none;
  margin: 0;
  padding: 0;
  width: 2.75rem;
  height: 2.75rem;
}

.mui-app-bar .mui-app-bar-navigation-icon-button::before {
  content: "";
  display: block;
  background-image: url("icon-hamburger.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5625rem;
  width: 1.5625rem;
  margin: 0 auto;
}

.mui-app-bar .mui-app-bar-navigation-icon-button::after {
  content: "\00a0";
  height: 2.125rem;
  width: .0625rem;
  margin-left: 0;
  padding-left: 0;
  background-color: #565656;
  position: absolute;
  right: -.375rem;
  top: .375rem;
}
.mui-app-bar-navigation-icon-button > div:first-child {
  // border-right: 1px solid #ccc;
  // width: 30px;
}

.mui-app-bar .mui-app-bar-navigation-icon-button div {
  display: none;
}


.mui-app-bar .mui-app-bar-navigation-icon-button svg.mui-svg-icon {
  display: none;
}

.mui-app-bar .mui-icon-button * {
  color: #505050;
  fill: #505050;
}

.mui-app-bar .mui-app-bar-navigation-icon-button svg {
  display: none;
  /**/
}

.app__title {
  font-size: 1rem;
  margin-bottom: 0;
}

.mui-app-bar .mui-app-bar-title {
  color: #565656;
  padding: 0;
  margin: 0;
  line-height: 3.500rem;
  float: none;
  text-align: center;
  width: 17.000rem;
  margin-left: 3.313rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.PromotionPage .mui-app-bar .mui-app-bar-title, .hide-hamburger-icon .mui-app-bar .mui-app-bar-title {
  margin-left: 0;
}


.mui-app-bar .mui-app-bar-title, h3, .mui-font-style-headline {
  font-size: 1rem;
}

//.app-bar__refresh {
//  float: right;
//  margin-right: -12px;
//  .icon {
//    margin: 0;
//  }
//}

.page {
  margin: 0;
  margin-top: 3.5rem;
  padding-top: 0;
  background-color: #ffffff;
}

.modal .page {
  overflow: auto;
  position: initial;
  background-color: #ffffff;

}

body.hide-page .page {
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #F9ACA4;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid blue;
}
