.page.recommendedPage {
  padding-top: .5rem;

}

.recommendedPage img{
  border: 0;
  padding-bottom: 0;
}


.recommendedPage .carTitleWrap{
  width:100%;
  }
.recommendedPage .carTitle{
  font-size:0.875rem; /* 14pt */
  color: rgb(56,56,56);
  word-wrap: break-word;
  width: 12.500rem;
  margin-left: auto ;
  margin-right: auto ;
  text-align:center;
}

.recommendedPage .carDecr{
  font-size:0.813rem; /* 13pt */
  color: rgb(109,109,109);
  padding-top: 0.313em;
}

.recommendedPage .carMSRP{
  font-weight: bold;
  color: rgb(0,0,0);
}


// topPicks Carousel
.recommendedPage .RecommendedPage-TopPicksCarousel {
  height: 40%;
  border-bottom: 0.063rem solid #b2b2b2 !important;
}

.recommendedPage .RecommendedPage-TopPicksCarousel img{

}

.recommendedPage .RecommendedPage-TopPicksCarousel{
  background: -moz-linear-gradient(269deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 74%, rgba(242,242,242,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(74%, rgba(249,249,249,1)), color-stop(100%, rgba(242,242,242,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(269deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 74%, rgba(242,242,242,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(269deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 74%, rgba(242,242,242,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(269deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 74%, rgba(242,242,242,1) 100%); /* ie10+ */
  background: linear-gradient(181deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 74%, rgba(242,242,242,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F2F2F2',GradientType=0 ); /* ie6-9 */
}

.recommendedPage .RecommendedPage-TopPicksCarousel  .carTitle{
  font-size:1.250rem; /* 20pt */
}

.recommendedPage .RecommendedPage-TopPicksCarousel  .carDecr{
  font-size:0.938rem; /* 15pt */
}

.recommendedPage .RecommendedPage-TopPicksCarousel .carMSRP{
  font-weight: bold;
  color: rgb(0,0,0);
}


// Additional Picks Carousel
.recommendedPage .RecommendedPage-AdditionalPicksCarousel {
  height: 30%;
  margin-top: 0.625rem;
  border-bottom: 0.063rem solid #b2b2b2 !important;
}

.recommendedPage .RecommendedPage-AdditionalPicksCarousel .Carousel-title {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
 }


// Trending Now Carousel
.recommendedPage .RecommendedPage-TrendingNowCarousel {
  height: 30%;

}

.recommendedPage .RecommendedPage-TrendingNowCarousel .Carousel-title {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.slick-slider {
  margin-bottom: 1rem !important;
}
