.Trait {
  width: 8rem;
  height: 9rem;
  display: inline-block;
  font-weight: bold;
  label {
    display: block;
    width: 6rem;
    height: 6rem;
    margin: 0 auto .5rem;
    position: relative;
    cursor: pointer;
  }
  input {
    display: none;
  }
  input:checked + label:before {
    background-color: red;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6em;
    height: 6em;
    background: transparent url(icon-traits-selected.svg) no-repeat scroll 0 0;
  }
}

// Page 1
.Label-item-economical {
  background: transparent url(icon-traits-economical.svg) no-repeat scroll 0 0;
}
.Label-item-children {
  background: transparent url(icon-traits-children.svg) no-repeat scroll 0 0;
}
.Label-item-blueCollar {
  background: transparent url(icon-traits-BlueCollar.svg) no-repeat scroll 0 0;
}
.Label-item-fearless {
  background: transparent url(icon-traits-fearless.svg) no-repeat scroll 0 0;
}
.Label-item-executive {
  background: transparent url(icon-traits-executive.svg) no-repeat scroll 0 0;
}
.Label-item-ecological {
  background: transparent url(icon-traits-ecological.svg) no-repeat scroll 0 0;
}
.Label-item-gearIntensive {
  background: transparent url(icon-traits-GearIntensive.svg) no-repeat scroll 0 0;
}

// Page 2
.Label-item-frugal {
  background: transparent url(icon-traits-frugal.svg) no-repeat scroll 0 0;
}
.Label-item-practical {
  background: transparent url(icon-traits-practical.svg) no-repeat scroll 0 0;
}
.Label-item-classic {
  background: transparent url(icon-traits-classic.svg) no-repeat scroll 0 0;
}
.Label-item-aggressive {
  background: transparent url(icon-traits-aggressive.svg) no-repeat scroll 0 0;
}
.Label-item-urban {
  background: transparent url(icon-traits-urban.svg) no-repeat scroll 0 0;
}
.Label-item-rural {
  background: transparent url(icon-traits-rural.svg) no-repeat scroll 0 0;
}
.Label-item-traveler {
  background: transparent url(icon-traits-traveler.svg) no-repeat scroll 0 0;
}

// Page 3
.Label-item-bold {
  background: transparent url(icon-traits-bold.svg) no-repeat scroll 0 0;
}
.Label-item-earlyAdopter {
  background: transparent url(icon-traits-earlyAdopter.svg) no-repeat scroll 0 0;
}
.Label-item-hipster {
  background: transparent url(icon-traits-hipster.svg) no-repeat scroll 0 0;
}
.Label-item-sporty {
  background: transparent url(icon-traits-sporty.svg) no-repeat scroll 0 0;
}
.Label-item-cautious {
  background: transparent url(icon-traits-cautious.svg) no-repeat scroll 0 0;
}
.Label-item-rugged {
  background: transparent url(icon-traits-rugged.svg) no-repeat scroll 0 0;
}
.Label-item-modest {
  background: transparent url(icon-traits-modest.svg) no-repeat scroll 0 0;
}
