@import "../scss/mixins";

button, .Button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
}

.Button:focus{outline:none;}

.Button-large-primary-light {

}

.Button-large-standard {
  @include background-image(rgb(255,255,255) 0%, rgb(243,243,243) 70%,rgb(230,230,230) 100%);
  @include border-radius(5px);
  text-shadow: 0px 1.25px 3px #ffffff;
  color: rgb(97, 97, 97);
  border: 1.25px solid rgb(188,188,188);
  font-size: 1.3rem;
  font-weight: 500;
  padding: .75rem 0;
  box-shadow: 0 2.5px rgba(0,0,0,0.06);
}
.Button-large-standard:hover {
  @include background-image(rgb(255,255,255) 0%, rgb(253,253,253) 70%,rgb(230,230,230) 100%);
}
.Button-large-standard:active {
  @include background-image(rgb(230,230,230) 0%, rgb(243,243,243) 30%,rgb(255,255,255) 100%);
  box-shadow: none;
}

.Button-large-secondary {
  @include background-image(rgb(120,187,213) 0%, rgb(112,175,199) 70%,rgb(103,164,184) 100%);
  @include border-radius(.3125rem);
  text-shadow: 0px -1px 0 rgba(0,0,0,.25);
  color: rgb(255, 255, 255);
  border: 1.25px solid rgb(0,117,162);
  font-size: 1.3rem;
  font-weight: 500;
  padding: .75rem 0;
  box-shadow: 0 2.5px rgba(0,0,0,0.06);
}
.Button-large-secondary:hover {
  @include background-image(rgb(134,194,217) 0%, rgb(129,185,207) 70%,rgb(124,175,196) 100%);
}
.Button-large-secondary:active {
  @include background-image(rgb(103,162,184) 0%, rgb(112,175,199) 30%,rgb(120,187,213) 100%);
  box-shadow: none;
}

.Button-large-done {
  @include background-image(rgb(120,187,213) 0%, rgb(112,175,199) 70%,rgb(103,164,184) 100%);
  @include border-radius(.3125rem);
  text-shadow: 0px -1px 0 rgba(0,0,0,.25);
  color: rgb(255, 255, 255);
  border: 1.25px solid rgb(0,117,162);
  font-size: 1.3rem;
  font-weight: 500;
  padding: .75rem 0;
  box-shadow: 0 2.5px rgba(0,0,0,0.06);
}
.Button-large-done:hover {
  @include background-image(rgb(134,194,217) 0%, rgb(129,185,207) 70%,rgb(124,175,196) 100%);
}
.Button-large-done:active {
  @include background-image(rgb(103,162,184) 0%, rgb(112,175,199) 30%,rgb(120,187,213) 100%);
  box-shadow: none;
}

.Button-medium-secondary {
  @include background-image(rgb(120,187,213) 0%, rgb(112,175,199) 70%,rgb(103,164,184) 100%);
  @include border-radius(.25rem);
  text-shadow: 0px -1px 0 rgba(0,0,0,.1);
  color: rgb(255, 255, 255);
  border: 1.25px solid rgb(0,117,162);
  font-size: 1.0625rem;
  font-weight: 500;
  padding: .5rem 0;
  box-shadow: 0 2px rgba(0,0,0,0.06);
}
.Button-medium-secondary:hover {
  @include background-image(rgb(134,194,217) 0%, rgb(129,185,207) 70%,rgb(124,175,196) 100%);
}
.Button-medium-secondary:active {
  @include background-image(rgb(103,162,184) 0%, rgb(112,175,199) 30%,rgb(120,187,213) 100%);
  box-shadow: none;
}

.Button-small-standard {
  @include background-image(rgb(255,255,255) 0%, rgb(243,243,243) 70%,rgb(230,230,230) 100%);
  @include border-radius(5px);
  text-shadow: 0px 1.25px 3px #ffffff;
  color: rgb(97, 97, 97);
  border: 1.25px solid rgb(188,188,188);
  font-size: .875rem;
  font-weight: 500;
  padding: .25rem 0;
  box-shadow: 0 2.5px rgba(0,0,0,.06);
}
.Button-small-standard:hover {
  @include background-image(rgb(255,255,255) 0%, rgb(247,247,247) 70%,rgb(240,240,240) 100%);
}
.Button-small-standard:active {
  @include background-image(rgb(230,230,230) 0%, rgb(243,243,243) 30%,rgb(255,255,255) 100%);
  box-shadow: none;
}

.Button-content {
  text-align: center;
  padding: .3125rem 1.25rem;
}

.Button-small-standard .Button-content {
  padding: .25rem;
}

.Button-icon {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.Button-icon--phone {
  background: url("icon-callback-gray.svg") 1em 1em no-repeat;
}

.Button-icon--retry {
  display: inline-block;
  vertical-align: top;
  width: 1em;
  height: 1em;
  margin-right: .4rem;
  margin-top: -.125rem;
}

.Button-large-standard .Button-icon--retry {
  background: url(icon-button-retry-large-gray.svg) no-repeat;
}

.Button-small-secondary .Button-icon--retry {
  background: url(icon-button-retry-large-ko.svg) no-repeat;
}
.Button-medium-secondary .Button-icon--retry {
  background: url(icon-button-retry-large-ko.svg) no-repeat;
}
.Button-large-secondary .Button-icon--retry {
  background: url(icon-button-retry-large-ko.svg) no-repeat;
}

.Button-icon--spinner {
  background: url(icon-button-spinner-large-ko.svg) no-repeat scroll 0 0;
  float: left;
  width: 1rem;
  height: 1rem;
}

.Button-icon--call {
  display: inline-block;
  width: .9375em;
  height: 1.125em;
  margin-right: .25rem;
  vertical-align: middle;
  background: url("icon-button-phone-small-gray.svg") no-repeat;
}

.Button-icon--email {
  display: inline-block;
  width: 1.125em;
  height: 1em;
  margin-right: .25rem;
  vertical-align: middle;
  background: url("icon-button-email-small-gray.svg") no-repeat;
}
