
.Carousel-title {
  margin-left: 0.938rem;
  font-size:0.875rem; /* 14pt */
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: rgb(56,56,56);
}

.Carousel-CarImage {

}

.Carousel-CarImage--label {
  text-align: center;
}

