.ListingsPage-loadmore {
  text-align: center;
  padding: 1.5rem;
}

.ListingsPage-loading {
  // background-image: url('loading-spinner-mini-green.svg');
  // background-size: contain;
  margin: 0 auto;
  margin-top: 1rem;
}

.ListingsPage-error {
  text-align: center;
  padding-top: 1rem;
  font-size: 0.875rem;
}


.ListingsPage .DetailSection-title {
  color: rgb(56,56,56);
  background-color: rgb(247,247,247);
  font-size: .875rem;
  font-weight: 600;
  border-top: none;
  border-bottom: .0625rem solid rgba(178, 178, 178, 1);
  padding: .5rem;
  box-shadow: none;
  margin-bottom: 0.063rem;
  position: fixed;
  width: 100%;
  z-index: 7;
}

.ListingsPage .DetailSection-content {
  padding-top: 1.5rem;
}

.Listing-image .CarImage {
  transform-style: preserve-3d;
}

.Listing-image .CarImage img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
