.ListItem {
  position: relative;
}
.ListItem--right-arrow {
  background: url("caret-disclosure-gray.svg") no-repeat right top;
  background-size: contain;
  height: 1.563rem;
  width: 0.969rem;
  position: absolute;
  right: .5rem;
  top: 50%;
  margin-top: -.7815rem;
}
