.TrimsList .ListItem {
  padding-top: .6875rem;
}

.TrimsList .CarImage img {
  width: 85%;
}

.TrimsList .CarImage-super-small {
  width: 7rem;
}

.TrimsList .CarImage-super-small--loading, .TrimsList .CarImage-super-small--error {
  width: 6.75rem;
}
