.image-grid-container {
}

.ImageGrid {
  margin-top: .75rem;
}

.oneTab .ImageGrid {
  margin-top: 0;
}

.ImageGrid-Image {
  display: inline-block;
  width: 30.33%;
  max-width: 92px;
  overflow: hidden;
  margin: 1.5%;
  border: 1px solid rgb(178, 178, 178);
  background-color: #FFF;
}
.ImageGrid-Image img {
  width: 100%;
}
.ImageGrid-Image .ImageGrid-placeholder {
  display: block;
}
.ImageGrid-Image.loaded .ImageGrid-placeholder {
  display: none;
}
.ImageGrid-Image .Image-img {
  display: none;
}
.ImageGrid-Image.loaded .Image-img {
  display: block;
}

.ImageGrid.photos .icon-media-play {
  display: none;
}
