.mui-tabs-container .mui-tab-item-container {
  background-color: #FFF;
  border-bottom: 1px solid rgba(178, 178, 178, 1);
}

.mui-tabs-container {
  margin: .78125rem;
}
.mui-tabs-container .mui-tab-item-container .mui-tab-item {
  color: rgb(96, 96, 96);
}
.mui-tabs-container .mui-tab-item-container .mui-tab-item.mui-tab-is-active {
  color: rgb(56, 56, 56);
  border-bottom: 4px solid rgb(56, 56, 56);
}
.oneTab .mui-tabs-container .mui-tab-item-container .mui-tab-item.mui-tab-is-active {
  border-bottom: none;
}

.mui-ink-bar {
  display: none;
}

.ImageGalleryPage-ImageGrid {
  margin: 0 6%;
}

.slideshow .pswp__button.pswp__button--close {
  background-image: none;
}
