.MediaRow {
  font-size: .875rem;
  color: rgb(56, 56, 56);
  background-color: rgb(236, 236, 236);
  border-top: 1px solid rgb(178, 178, 178);
  display: flex;
}

.MediaRow > div {
  text-align: center;
  flex: 1 1;
  cursor: pointer;
}

.MediaRow > div > span {
  vertical-align: middle;
}

.MediaRow-photos {
  padding: .625rem .625rem .625rem 2.5rem;
}

.MediaRow-videos {
  padding: .625rem 2.5rem .625rem .625rem;
}

.hasSingleChild .MediaRow-photos,
.hasSingleChild .MediaRow-videos {
  padding: .625rem;
}

.MediaRow .icon {
  background-size: cover;
  display: inline-block;
  margin-right: .375rem;
}

.MediaRow-photos--icon {
  background: transparent url(icon-media-photos.svg) no-repeat;
  width: 1.5625rem;
  height: 1.25rem;
}

.MediaRow-videos--icon {
  background: transparent url(icon-media-videos.svg) no-repeat;
  width: 1.625rem;
  height: 1.125rem;
}
